# Data Analysis with Pandas
## Cycle Share Data Set
### Author: Grace Choi, 1/20/2021

In [21]:
import pandas as pd

In [22]:
df_station = pd.read_csv('./station.csv')

In [23]:
df_trip = pd.read_csv('./trip.csv', error_bad_lines=False)

b'Skipping line 50794: expected 12 fields, saw 20\n'

In [24]:
df_weather = pd.read_csv('./weather.csv')

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58 entries, 0 to 57
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   station_id         58 non-null     object
 1   name               58 non-null     object
 2   lat                58 non-null     float64
 3   long               58 non-null     float64
 4   install_date       58 non-null     object
 5   install_dockcount  58 non-null     int64
 6   modification_date  17 non-null     object
 7   current_dockcount  58 non-null     int64
 8   decommission_date  4 non-null      object
dtypes: float64(2), int64(2), object(5)
memory usage: 4.2+ KB