# Data Analysis with Pandas
## Video Game Sales
### Author: Grace Choi, 1/20/2021

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('./vgsales.csv')

### 1. Which company is the most common video game publisher?

In [3]:
df['Publisher'].mode()

0    Electronic Arts
dtype: object

### 2. What's the most common platform?

In [4]:
df['Platform'].mode()

0    DS
dtype: object

### 3. What's the most common genre?

In [5]:
df['Genre'].mode()

0    Action
dtype: object

### 4. What are the top 20 highest grossing games?

In [6]:
df[['Name', 'Global_Sales']].sort_values('Global_Sales').tail(20)

                                            Name  Global_Sales
19  Brain Age: Train Your Brain in Minutes a Day         20.22
18                             Super Mario World         20.61
17                 Grand Theft Auto: San Andreas         20.81
16                            Grand Theft Auto V         21.40
15                            Kinect Adventures!         21.82
14                                  Wii Fit Plus         22.00
13                                       Wii Fit         22.72
12                   Pokemon Gold/Pokemon Silver         23.10
11                                 Mario Kart DS         23.42
10                                    Nintendogs         24.76
9                                      Duck Hunt         28.31
8                      New Super Mario Bros. Wii         28.62
7                                       Wii Play         29.02
6                          New Super Mario Bros.         30.01
5                                         Tetris         30.26
4                       Pokemon Red/Pokemon Blue         31.37
3                              Wii Sports Resort         33.00
2                                 Mario Kart Wii         35.82
1                              Super Mario Bros.         40.24
0                                     Wii Sports         82.74

### 5. For North American sales, what's the median? Provide a secondary output showing 10 games surrounding the median sales output. Assume that games with same median value are sorted in descending order.

In [7]:
df[['Name','NA_Sales']].median()

NA_Sales    0.08
dtype: float64

In [8]:
df.iloc[8295:8305][['Name','NA_Sales']].sort_values('NA_Sales')

                                                  Name  NA_Sales
8297  Resident Evil Director's Cut: Dual Shock Edition      0.00
8301                          The King of Fighters '95      0.00
8303                              Hanjuku Eiyuu Tai 3D      0.00
8304                     .hack//G.U. Vol.3//Redemption      0.00
8300                         N3 II: Ninety-Nine Nights      0.06
8296                             Backyard Baseball '10      0.08
8302                                          RoadKill      0.08
8298            The Lord of the Rings: Aragorn's Quest      0.10
8295              Finding Nemo: Escape to the Big Blue      0.12
8299                                        Top Spin 2      0.15

### 6. For the top-selling game of all time, how many standard deviations above/below the mean are its sales for North America?

In [9]:
wii_na = df.iloc[0].NA_Sales
na_mean = df['NA_Sales'].mean()
diff = wii_na - na_mean
na_std = df['NA_Sales'].std()
zscore = diff / na_std
zscore

50.47898767479108

### 7. The Nintendo Wii seems to have outdone itself with games. How does its average number of sales compare with all the other platforms?

In [10]:
top_platforms = df.groupby(['Platform'])[['Global_Sales']].mean().sort_values('Global_Sales', ascending=False).head(10)
top_platforms['Global_Sales'].rank(ascending=False)

Platform
GB       1.0
NES      2.0
GEN      3.0
SNES     4.0
PS4      5.0
X360     6.0
2600     7.0
PS3      8.0
Wii      9.0
N64     10.0
Name: Global_Sales, dtype: float64

### 8a. How many different platforms are included in the data set and what are they?

In [11]:
df['Platform'].describe()

count     16598
unique       31
top          DS
freq       2163
Name: Platform, dtype: object

In [12]:
unique_platforms = df['Platform'].unique()
unique_platforms

array(['Wii', 'NES', 'GB', 'DS', 'X360', 'PS3', 'PS2', 'SNES', 'GBA',
       '3DS', 'PS4', 'N64', 'PS', 'XB', 'PC', '2600', 'PSP', 'XOne', 'GC',
       'WiiU', 'GEN', 'DC', 'PSV', 'SAT', 'SCD', 'WS', 'NG', 'TG16',
       '3DO', 'GG', 'PCFX'], dtype=object)

### 8b. What game sold the most in Japan?

In [13]:
df[['Name', 'JP_Sales']].sort_values('JP_Sales', ascending=False).head(1)

                       Name  JP_Sales
4  Pokemon Red/Pokemon Blue     10.22

### 8c. What is the oldest and lowest ranking game in the data set?

In [14]:
df[['Name', 'Year']].sort_values('Year').head(1)

          Name    Year
6896  Checkers  1980.0